body {
  background-image: url(http://chakradarraju.github.io/img/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
}
.container {
  width: 100%;
  overflow: auto;
}
a.link {
  font-family: arial;
  color: white;
  text-decoration: none;
  line-height: 40px;
  padding: 10px;
  margin: 10px;
  background: rgba(0, 0, 0, 0.5);
  border-bottom: solid black 3px;
}
.dp {
  border-radius: 50%;
  border: solid white 4px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  margin: 30px auto;
}
a.link:hover {
  background: rgba(0, 0, 0, 1);
}
.name {
  font-family: arial;
  font-size: 30px;
  color: white;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  line-height: 50px;
}
.logo img {
  width: 50px;
}
.logo:hover img {
  opacity: 1;
  filter: none;
}
.logocontainer {
  margin: 0 auto;
  width: 300px;
  background: rgba(255, 255, 255, 0.7);
  padding: 15px 5px;
  margin: 20px auto;
}
.panel {
  width: 50%;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.panel1 {
  float: left;
  text-align: center;
}
.panel2 {
  float: right;
}
.panel2 div {
  border-left: dashed white 2px;
  padding: 100px 20px;
  margin: 20px;
}
@media (max-width: 700px) {
  .panel {
    width: 100% !important;
    height: auto !important;
    float: none !important;
    text-align: center;
  }
  .panel2 div {
    border: none;
    padding: 20px;
  }
}
