body {
  background-image: url(img/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.divider {
  border-left: dashed white 2px;
}
a.link {
  font-family: arial;
  color: white;
  text-decoration: none;
  line-height: 40px;
  padding: 10px;
  margin: 10px;
  background: rgba(0, 0, 0, 0.5);
  border-bottom: solid black 3px;
}
.dp {
  border-radius: 50%;
  border: solid white 4px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  margin: 30px auto;
}
a.link:hover {
  background: rgba(0, 0, 0, 1);
}
.name {
  font-family: arial;
  font-size: 30px;
  color: white;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  line-height: 50px;
}
.logo img {
  width: 50px;
}
.logo:hover img {
  opacity: 1;
  filter: none;
}
.logocontainer {
  margin: 0 auto;
  width: 240px;
  background: rgba(255, 255, 255, 0.7);
  padding: 15px 5px;
  margin: 20px auto;
}
.panel {
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 100px;
  overflow-y: auto;
}
.panel1 {
  text-align: center;
}
.panel2 div.linkscontainer {
  padding: 20px;
  margin: 20px;
}
.panel2 div.section {
  color: white;
  background-color: darkred;
  max-width: 300px;
  margin: 10px;
  font-family: arial;
  text-align: center;
  font-weight: bold;
}
@media (max-width: 700px) {
  .container {
    display: block;
    height: auto;
    overflow: auto;
  }
  .panel {
    height: auto;
    text-align: center;
  }
  .panel2 div {
    padding: 20px;
  }
  a.phone {
    display: block !important;
  }
  .divider {
    display: none;
  }
  .panel2 div.section {
    padding: 0 !important;
    margin: 10px auto;
  }
}
a.phone {
  font-family: arial;
  color: black;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  background: rgba(255, 255, 255, 0.5);
  border-bottom: solid white 3px;
  border-radius: 15px;
  display: none;
}
